[submodule "UnityClient/Assets/3rdparty/unityro-resources"]
	path = UnityClient/Assets/3rdparty/unityro-resources
	url = git@github.com:def-not-a-game-studio/unityro-resources.git
	update = merge
[submodule "UnityClient/Assets/3rdparty/unityro-sdk"]
	path = UnityClient/Assets/3rdparty/unityro-sdk
	url = git@github.com:def-not-a-game-studio/unityro-sdk.git
