[submodule "UnityClient/Assets/3rdparty/unityro-core"]
	path = UnityClient/Assets/3rdparty/unityro-core
	url = git@github.com:def-not-a-game-studio/unityro-core.git
	update = merge
[submodule "UnityClient/Assets/3rdparty/unityro-io"]
	path = UnityClient/Assets/3rdparty/unityro-io
	url = git@github.com:def-not-a-game-studio/unityro-io.git
	update = merge
[submodule "UnityClient/Assets/3rdparty/unityro-net"]
	path = UnityClient/Assets/3rdparty/unityro-net
	url = git@github.com:def-not-a-game-studio/unityro-net.git
	update = merge
[submodule "UnityClient/Assets/3rdparty/unityro-resources"]
	path = UnityClient/Assets/3rdparty/unityro-resources
	url = git@github.com:def-not-a-game-studio/unityro-resources.git
	update = merge